* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(29, 199, 253, 0.633578431372549) 50%, rgba(252, 176, 69, 1) 100%);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#descripcion {
    font-family: "DM Serif Text", serif;
    font-size: 30px;
    text-align: center;
    

}
.row{
    
text-align: center;
font-family: "DM Serif Text", serif;
}
